{% extends 'base.html.twig' %}


{% block main %}
	<div class="mt-5 ml-2 row">
		<div class="col-9">
			<h1>Bienvenue sur le site de notre Agence</h1>
			<h2 class="h5">Retrouvez tous les biens près de chez vous au meilleur prix</h2>
			<div class="mt-3">
            {% for property in properties %}
				<div class="card" style="width: 10rem;">
					<img src="https://wwww.fakeimg.pl" class="card-img-top" alt="{{property.title}}">
					<div class="card-body">
						<h5 class="card-title">{{property.title}}</h5>
						<p class="card-text">{{property.content}}</p>
						<a href="#" class="btn btn-primary">Voir le bien</a>
					</div>
				</div>
            {% else %}
                <h3 class="h1">Nous n'avons aucun bien à vous proposer pour le moment</h3>
            {% endfor %}
			</div>
		</div>
		<div class="col-3">
            <div class="border-bottom border-start border-dark ps-2">
                <h2 class="h6">Notre agence:</h2>
                <address>
                    Vous pouvez nous retrouver<br>
                    tous les jours de <strong>9h à 17h</strong><br>
                    au 1 rue de test<br>
                    12345 TestVille<br>
                    ou nous contacter<br>
                    par mail: <a href="mailto:contact@agency.fr">contact@agency.fr</a><br>
                    par téléphone: <a href="tel:+33612345678">+33 6 12 34 56 78</a>
                </address>
            </div>
            <div class="ps-2 pt-2 border-start border-dark">
                <p><a href="#">Appartement</a></p>
                <p><a href="#">Maison</a></p>
                <p><a href="#">Achat</a></p>
                <p><a href="#">Location</a></p>
            </div>
        </div>
	</div>
{% endblock %}
